<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <header id="header" class="site-header" th:fragment="header">
        <nav id="header-nav" class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logo/main-logo.png}" class="logo">
                </a>
                <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-list"></i>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar"
                    aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-header px-4 pb-0">
                        <a class="navbar-brand" th:href="@{/home}">
                            <img th:src="@{/images/logo/main-logo.png}" class="logo">
                        </a>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul id="navbar"
                            class="navbar-nav text-uppercase justify-content-start justify-content-lg-center align-items-start align-items-lg-center flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link me-4" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" th:href="@{/shop(page=${1})}">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" th:href="@{/about}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" th:href="@{/contact}">Contact</a>
                            </li>
                        </ul>

                        <div class="user-items d-flex align-items-center">
                            <ul class="d-flex justify-content-end list-unstyled mb-0">
                                <li class="pe-3">
                                    <a th:href="@{/view-cart}">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li>
                                <li class="pe-3 dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-user"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li class="d-flex align-items-center flex-column" style="min-width: 300px;">
                                            <img style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;"
                                                th:src="${session.avatar != null ? '../images/avatar/' + session.avatar : 'https://picsum.photos/id/91/200/300'}" />
                                            <div class="text-center my-3">
                                                <span th:text="${session.fullName}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <form th:action="@{/logout}" method="post">
                                                <button class="dropdown-item" type="submit">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <footer id="footer" class="padding-large pb-0" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu">
                                <img th:src="@{/images/logo/main-logo.png}" alt="logo" class="img-fluid mb-2">
                                <p>
                                    NesReading is not just a place to buy books,
                                    it’s a space that connects readers with authors,
                                    creating curated book options that cater to
                                    individual needs and personal styles.
                                </p>
                                <div class="social-links">
                                    <ul class="d-flex list-unstyled">
                                        <li>
                                            <a th:href="@{/}">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/}">
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/}">
                                                <i class="fa-brands fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/}">
                                                <i class="fa-brands fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 pb-3">
                            <div class="footer-menu text-capitalize">
                                <h5 class="widget-title pb-2">Quick Links</h5>
                                <ul class="menu-list list-unstyled text-capitalize">
                                    <li class="menu-item mb-1">
                                        <a th:href="@{/}">Home</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a th:href="@{/about}">About</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a th:href="@{/shop}">Shop</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a th:href="@{/contact}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu contact-item">
                                <h5 class="widget-title text-capitalize pb-2">Contact Us</h5>
                                <p>
                                    Do you have any queries or suggestions?
                                    <a th:href="@{/mailto:}" class="text-decoration-underline">support.nesreading@gmail.com</a>
                                </p>
                                <p>
                                    If you need support? Just give us a call.
                                    <a th:href="@{/}" class="text-decoration-underline"> +8493 327 8628</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="footer-bottom" class="mb-2">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="ship-and-payment d-flex gap-md-5 flex-wrap">
                        <div class="shipping d-flex">
                            <p>We ship with:</p>
                            <div class="card-wrap ps-2">
                                <i class="fa-brands fa-cc-visa"></i>
                                <i class="fa-brands fa-cc-mastercard"></i>
                            </div>
                        </div>
                        <div class="payment-method d-flex">
                            <p>Payment options:</p>
                            <div class="card-wrap ps-2">
                                <i class="fa-brands fa-cc-visa"></i>
                                <i class="fa-brands fa-cc-mastercard"></i>
                                <i class="fa-brands fa-cc-paypal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>